

<%- include("partials/header.ejs") -%>


<h1>Home</h1>

<p><%= homeStartingContent %></p>

<% postsList.forEach((element) => { %>
    <h1><%= element.title %></h1>
    <% if (element.href) { %> 
        <p><%= element.body %> <span><a href=<%= element.href %>>Read me</a></span> </p> 
    <% } else { %>
        <p><%= element.body %></p> 
    <% } %> 
<% }); %> 

<%- include("partials/footer.ejs") -%>

